{% extends 'base.html' %}
{% block content %}
<h1>Каталог книг</h1>


<form method="get" hx-get="{% url 'book_list' %}" hx-target="#book-list" hx-trigger="submit, input delay:500ms from:.filter-input" hx-swap="outerHTML">
    <div class="row mb-4">
        <div class="col">
            {{ filter.form.title.label_tag }}
            {{ filter.form.title }}
        </div>
        <div class="col">
            {{ filter.form.author.label_tag }}
            {{ filter.form.author }}
        </div>
        <div class="col">
            {{ filter.form.genre.label_tag }}
            {{ filter.form.genre }}
        </div>
        <div class="col-auto align-self-end">
            <button type="submit" class="btn btn-primary">Искать</button>
            <a href="{% url 'book_list' %}" class="btn btn-secondary">Сброс</a>
        </div>
    </div>
</form>

<div id="book-list">
    {% include 'book_list_partial.html' %}
</div>
{% endblock %}